<f:layout name="Default" />

<f:section name="Title">Edit event "{event.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{event}" objectName="event">
		<ol>
			<li>
				<label for="name">Name</label>
				Name (default): <f:form.textfield property="name" /><br />
				Name (de): <f:form.textfield property="translations.de.name" /><br />
				Name (en): <f:form.textfield property="translations.en.name" /><br />
			</li>
		
			<li>
				<f:form.submit value="Update" />
			</li>
		</ol>
	</f:form>
</f:section>