<f:layout name="Default" />

<f:section name="Title">A list of events</f:section>

<f:section name="Content">
	<f:if condition="{events}">
		<f:then>
			<ul>
				<f:for each="{events}" as="event">
					<li>
						<f:link.action action="show" arguments="{event: event}">{event.name}</f:link.action>
						<f:link.action action="edit" arguments="{event: event}">Edit</f:link.action>
						<f:form action="delete" arguments="{event: event}">
							<f:form.submit value="Delete" />
						</f:form>
					</li>
				</f:for>
			</ul>
		</f:then>
		<f:else>
			<p>No events created yet.</p>
		</f:else>
	</f:if>
	<p><f:link.action action="new">Create a new event</f:link.action></p>
</f:section>