<f:layout name="Default" />

<f:section name="Title">New event</f:section>

<f:section name="Content">
	<p>Just fill out the following form to create a new event:</p>

	<f:form action="create" objectName="newEvent">
		<ol>
			<li>
				<label for="name">Event</label>
				Name (default): <f:form.textfield property="name" /><br />
				Name (de): <f:form.textfield property="translations.de.name" /><br />
				Name (en): <f:form.textfield property="translations.en.name" /><br />
			</li>
		
			<li>
				<f:form.submit value="Create" />
			</li>
		</ol>
	</f:form>
</f:section>